.newsletter-box {
    height: 16rem;
    width: 16rem;
    border: .15rem solid $color-red-BA;
    border-radius: .5rem;
    color: $color-red-BA;
    align-content: center;

    display: grid;
    grid-template-rows: [s] 8.1rem [m] 2.3rem [e];
    grid-template-columns: [s] 1fr [e];
    justify-items: center;

    &__day {
        align-self: end;
        font-size: 7rem;
        line-height: 8.1rem; 
        margin-bottom: 1rem;
        grid-row: s/m;
        grid-column: s/e;
    }

    &__month-year {
        align-self: start;
        font-size: 2rem;
        line-height: 2.3rem;
        grid-row: m/e;
        grid-column: s/e;
    }

    &__point {
        height: 4rem;
        width: 4rem;
        background-color: white;
        grid-row: s/e;
        grid-column: s/e;
        border-top: solid .15rem $color-red-BA;
        border-right: solid .15rem $color-red-BA;

        align-self: center;
        justify-self: end;

        transform: translateX(52%) rotate(45deg);
    }
}