.requests-item {
    display: grid;
    grid-template-rows: [s title-s] 34px [title-e tenant-s] 34px [tenant-e e description-s] 1fr [description-e];
    grid-template-columns: [icon-s] 100px [icon-e s title-s] 1fr [title-e arrow-s] 68px [arrow-e date-s] 100px [date-s e] 60px;
    
    align-items: center;

    &__icon {
        grid-column: icon-s/icon-e;
        grid-row: s/e;
        justify-self: center;
    }

    &__title{
        align-self: end;
        grid-column: title-s/title-e;
        grid-row: title-s/title-e;

        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    &__tenant-unit {
        align-self: start;
        grid-column: title-s/title-e;
        grid-row: tenant-s/tenant-e;
    }

    &__date {
        grid-column: date-s/date-e;
        grid-row: s/e;
    }

    &__move {
        grid-column: date-s/date-e;
        grid-row: s/e;
        justify-self: end;
        margin-right: 15px;
    }

    &__description {
        grid-column: s/e;
        grid-row: description-s/description-e;
        display: grid;
        grid-column-gap: 4rem;
        grid-auto-flow: column;
    }
}

.bg-F8{
    background-color: #f8f8f8;
}


.requests-item {
    border-radius: 5px;
    transition: all .2s ease;
    

    &__icon {
        font-size: 2.7rem;

    }

    &__title {
        &__text {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 2.3rem;
            margin-right: 2.5rem;
        }

        &__arrow {
            color: $color-gray-4D;
            font-size: 3rem;
        }
    }

    &__tenant-unit {
        color: $color-red-BA;
        font-family: $font-encode-cond;
        font-size: 1.3rem;
        line-height: 1.5rem;
    }

    &__date {
        font-size: 1.4rem;
        line-height: 1.7rem;
        transform: translateX(100px);
        transition: all .3s ease;
    }

    &__move {
        opacity: 0;
        transition: all .3s ease;
        transform: translateX(100px)
    }

    &__description {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    &__description-text {
        font-size: 1.4rem;
        line-height: 1.7rem;

    }

    &:hover {
        background-color: #F8F8F8;
        .requests-item__move {
            transform: translateX(0);
            opacity: 1
        }

        .requests-item__date {
            transform: translateX(0);
        }
    }

}