html {
    font-family: Arial, sans-serif;
    font-size: 13px;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 50px;
    width: 100vw;
    height: 100vh;
}

header {
    grid-column: 1/-1;
    padding: 1em;
    padding-right: 1.5em;
}

header .right-header-content {
    grid-column: 2;
    display: flex;
    justify-content: flex-end;
    float: right;
}

header .left-header-content {
    float: left;
}

header .right-header-content a, button, .left-header-content a {
    margin-right: 1rem;
}

a {
    text-decoration: none;
    color: black;
    opacity: .75;
    align-self: center;
}

a:hover {
    text-decoration: underline;
    color: grey;
}

 .right-header-content button { /* Sign In Button */
    background: #4285f4;
    border-radius: 3px;
    border: none;
    padding: .5em .80em;
    color: white;
    align-self: center;
    font-weight: 600
}

/* Search Bar and Button stylings */
.content-wrapper {
    grid-column: 1/-1;
    grid-row: 2;
    justify-self: center  
}

.content-wrapper .search-logo {
    text-align: center;
}

.content-wrapper .search-bar input {
    width: 528px;
    height: 40px;
    border: none;
    box-shadow: 2px 3px 20px 1px rgba(0, 0, 0, 0.1);
}

.content-wrapper .search-bar input:hover {
    box-shadow: 2px 3px 20px 1px rgba(0, 0, 0, 0.3);
}

.content-wrapper .search-bar input:focus {
    box-shadow: 5px 3px 20px 1px rgba(0, 0, 0, 0.3);
    outline: none;
}

.content-wrapper .search-bar input[type = 'text'] {
    font-size: 16px;
    text-indent: 20px;

}

.content-wrapper .search-bar, .search-buttons {
    text-align: center;
    margin-top: 1rem;
}

.content-wrapper .search-buttons button {
    height: 36px;
    line-height: 26px;
    border: 1px solid #f2f2f2;
    background: #f2f2f2;
    color: #757575;
    font-weight: 600;
    border-radius: 2px;
    font-size: 13px;
}

.content-wrapper .search-buttons button:hover {
    color: black;
    border: 1px solid #c6c6c6;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1)
}



footer {
    grid-column: 1/-1;
    grid-row: 3;
    padding: 1.5em;
    background: #f2f2f2;
}

footer a {
    margin-right: 20px;
}
footer .right-footer-content {
    grid-column: 3;
    display: flex;
    align-items: center;
    float: right;
}

footer .left-footer-content {
    display: flex;
    align-items: center;
    float: left;
}