$color-blue-one: #5496E6;
$color-blue-two: #518BDE;


.grid {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(4, minmax(200px, 1fr));
    grid-template-columns: repeat(10, minmax(150px, 1fr));
    font-family: 'Montserrat';

    &__title {
        grid-row: 1/2;
        grid-column: 1/3;
        color: white;
        justify-self: center;
        align-self: center;
        font-size: 24px;
        font-weight: 300;
    }

    &__remaining {
        grid-row: 4/5;
        grid-column: 2/10;
        text-align: center;
        padding-top: 40px;
        font-size: 20px;
        color: #444444;
    }
}