.clock {
    grid-row: 3/4;
    grid-column: 2/10;
    background-color: #444;
    height: 80%;
    align-self: end;
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
    padding: 0px 120px;
    
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    justify-content: center;
    text-align: center;

    &__box {
        display: flex;
    }

    &__title {
        font-size: 18px;
        line-height: 25px;
        color: #f7d754;
        font-family: 'Roboto Condensed';
    }

    &__amount {
        font-size: 90px;
        font-weight: bold;
        line-height: 115px;
        color: white;
        font-family: 'Roboto Condensed';
    }
}
