.arrow{
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid $color-blue;
    transform: rotate(0deg);
    height: 0px;
    width: 0px;
    margin: 0px;

    transition: all .3s ease; 
}

.arrow-closed {
    transform: rotate(180deg);
}