.schedule {
    grid-column: schedule-s/schedule-e;
    grid-row: 1/-1;
    position: relative;
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: [space-one-s] 1fr [space-one-e] repeat(5, 80px) [progress-s] 1fr [progress-e];
    grid-row-gap: 22px;
    align-items: center;
    justify-items: center;
    align-content: center;
    padding-top: 237px;
    
    &__title {
        position: absolute;
        top: 154px;

        font-family: $font-alegreya;
        color: white;
        font-size: 20px;
        text-align: center;
        @include border-left
    }
}