$color-purple: #6F48CE;
$color-light-blue: #32CBE8;
$color-blue: #487BCE;
$color-grey: #4D4D4D;
$color-subtle-grey: rgba(255, 255, 255, 0.52);
$color-subtle-black: #333;


$font-alegreya: 'Aleygreya';
$font-mont: 'Montserrate';
$font-lato: 'Lato'